<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="global-map" routerLink="/tabs/global-map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Global Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="region-map" routerLink="/tabs/region-map">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Region Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="city" routerLink="/tabs/city">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>City</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
