  <ion-header>
    <div class="floating-hub">
      <!-- Avatar e Detalhes do Jogador -->
      <div class="player-profile">
        <img [src]="player.avatar" alt="Avatar" class="avatar" />
        <div class="player-details">

          <div class="player-level">level {{ player.level }}</div>
          <div class="xp-bar">
            <div class="xp-progress" [style.width]="xpPercentage + '%'"></div>
          </div>
        </div>
      </div>


      <!-- Botões e Recursos -->
      <div class="hub-right">
        <!-- Botões de Funções -->
        <div class="menu-buttons">
          <ion-button *ngFor="let button of menuButtons" class="menu-button">
            <ion-icon [name]="button.icon"></ion-icon>
          </ion-button>
        </div>
        <!-- Botões de Recursos -->
        <div class="resource-buttons">
          <ion-button *ngFor="let resource of resources" class="resource-button">
            {{ resource.icon }} {{ resource.amount }}
          </ion-button>
        </div>
      </div>
    </div>


  </ion-header>

  <ion-content>
    <div class="game-container">
      <div class="main-content">
        <!-- Mapa Central -->
        <div class="map-container">
          <div class="city-map" *ngIf="currentView === 'city'">
            <div class="cell" *ngFor="let cell of cityMap" [style.gridColumn]="cell.x + 1" [style.gridRow]="cell.y + 1"
            (click)="togglePanel()" [class.occupied]="cell.building">
              <ion-icon *ngIf="cell.building" name="construct-outline"></ion-icon>
            </div>
          </div>
          <div class="global-map" *ngIf="currentView === 'global'">
            <p>Mapa Global Placeholder</p>
          </div>
        </div>
      </div>
    </div>

     <!-- Painel Inferior de Construção -->
     <div class="overlay" *ngIf="isPanelOpen" (click)="closePanel()"></div>

     <div class="bottom-panel" *ngIf="isPanelOpen">
       <!-- Botões laterais -->
       <div class="side-buttons">
         <button (click)="changeTab('infra')">Infraestruturas</button>
         <button (click)="changeTab('militar')">Militar</button>
         <button (click)="changeTab('recursos')">Recursos</button>
       </div>
     
       <!-- Conteúdo do painel -->
       <div class="panel-content">
         <div class="construction-item" *ngFor="let building of currentBuildings">
           <h3>{{ building.name }}</h3>
           <p>{{ building.description }}</p>
           <p><strong>Pré-requisitos:</strong> {{ building.prerequisites }}</p>
           <p><strong>Tempo de construção:</strong> {{ building.buildTime }}</p>
           <div class="costs">
             <p><ion-icon name="leaf-outline"></ion-icon> {{ building.costs.food }}</p>
             <p><ion-icon name="hammer-outline"></ion-icon> {{ building.costs.wood }}</p>
             <p><ion-icon name="cube-outline"></ion-icon> {{ building.costs.stone }}</p>
             <p><ion-icon name="construct-outline"></ion-icon> {{ building.costs.iron }}</p>
           </div>
           <ion-button color="success" (click)="build(building)">Construir</ion-button>
         </div>
       </div>
     </div>
     

    
    

  <!-- Painel Esquerdo -->
  <div class="side-panel left-panel">
    <div class="panel-box">
      <div class="panel-header">
        <ion-icon name="people-outline"></ion-icon>
        <span>Sem Aliança</span>
      </div>
      <div class="panel-content">
        <p>Você ainda não tem uma aliança.</p>
      </div>
    </div>

    <div class="panel-box">
      <div class="panel-header">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>Info Box</span>
      </div>
      <div class="panel-content">
        <p>Sua Plus Account expirou.</p>
        <ion-button color="success" size="small">
          <ion-icon name="cash-outline"></ion-icon> Ativar
        </ion-button>
      </div>
    </div>
  </div>

  <!-- Painel Direito -->
  <div class="side-panel right-panel">
    <div class="panel-box">
      <div class="panel-header">
        <ion-icon name="home-outline"></ion-icon>
        <span>Cidade Atual</span>
      </div>
      <div class="panel-content">
        <span>{{ player.name }}</span>

        <p><strong>{{cityDetails.cityName}}</strong></p>
      </div>
    </div>
    <div class="panel-box">
      <div class="panel-header">
        <ion-icon name="home-outline"></ion-icon>
        <span>{{cityDetails.title}}</span>
      </div>
      <div class="panel-content">
        <p><strong>City {{cityDetails.cityCount}}:</strong> {{cityDetails.cityName}}</p>
        <ion-progress-bar value={{cityDetails.progress}} color="success"></ion-progress-bar>
      </div>
    </div>
  </div>

  </ion-content>