.floating-hub {
  position: absolute;
  //top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
  background-color: rgba(145, 135, 105, 0.9);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.player-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #ccc;
}

.player-details {
  margin-top: 10px;
  text-align: center;
}

.player-name {
  font-weight: bold;
  font-size: 16px;
}

.player-level {
  font-size: 14px;
  color: #555;
}

.xp-bar {
  width: 70px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.xp-progress {
  height: 100%;
  background-color: #1dc422; /* Cor verde chamativa */
}

.hub-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-buttons {
  display: flex;
  gap: 10px;
}

.resource-bar {
  display: flex;
  gap: 10px;
}

.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/map-background.jpg') no-repeat center;
  background-size: cover;
}

.city-map {
  display: grid;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
}

.cell {
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: rgba(150, 150, 150, 0.9);
}

.cell.occupied {
  background-color: rgba(0, 150, 0, 0.8);
}

