.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
  }
  
  .panel {
    position: relative;
    width: 520px;
    height: 520px;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #222;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    transform-origin: center;
  }
  
  .cell {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &:hover {
      background-color: #ddd;
    }
  }
  