<ion-header>
  <ion-toolbar>
    <ion-title>Region Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map [cells]="cities" (cellClick)="onCitySelected($event)"></app-map>

  <ion-card *ngIf="selectedCity">
    <ion-card-header>
      <ion-card-title>City Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Name: {{ selectedCity.name }}</p>
      <p>Population: {{ selectedCity.population }}</p>
      <p>Food: {{ selectedCity.resources.food }}</p>
      <p>Iron: {{ selectedCity.resources.iron }}</p>
      <p>Wood: {{ selectedCity.resources.wood }}</p>
      <p>Stone: {{ selectedCity.resources.stone }}</p>
    </ion-card-content>
    <ion-button expand="block" (click)="enterCity()">Enter City</ion-button>
  </ion-card>
</ion-content>
